*{
margin:0;
padding:0;
box-sizing: border-box;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.contenedor{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: 
"nav header header"
"nav main   main"
"nav footer footer";
}
.header{
    grid-area: header;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: rgb(209, 135, 178);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.headerLogo {
    width: 80px;
    margin-bottom: 25px;
}
.navbar{
    grid-area: nav;
    background-color: rgb(209, 135, 178);
}
.menu{
    width:50px;
    display: none;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    align-content: center;
    margin-top: 95px;
}
.navbar ul li{
    padding: 10px;
    margin-top: 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;

}
.main{
    grid-area: main;
    background-color: black;
    color: white;
    padding: 20px;
}
.tarjeta{
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.tarjeta__titulo{
    font-size: 3rem;
    padding: 10px;
}
.tarjeta_descripcion{
    font-size: 1.5rem;
    padding: 5rem;
    text-align: center;
}
.tarjeta__img{
    width: 80%;
    box-shadow: 0px 0px 8px 0px rgb(255 255 255 / 60%);
    border-radius: 15px;
    position: relative;
}
.tarjeta__btn{
    background-color: rgba(255, 255, 255, 0.226);
    position: relative;
    bottom: 75px;
    border: none;
    border-radius: 18px;
}
.tarjeta__btn a{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    padding: 15px;
    font-weight: 700;
}
.footer{
    grid-area: footer;
    display: flex;
    background-color: black;
    color: white;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
span{
    font-size: 1.5rem;
}
.catalogo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    width: 200px;
}
.cardTitulo{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    margin: 10px;
    font-weight: 700;
}
.cardImg{
    width: 100%;
}
@media (max-width:576px){
    .contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    }
    .headerLogo{
        margin-bottom: 0px;
    }
    .navbar{
        grid-area: nav;
        background-color: rgb(209, 135, 178);
    }
    .navbar ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .navbar ul li:hover{
        font-weight: 800;
        font-style: oblique;
    }
    .navbar ul li a{
        font-size: 23px;
    }
    .tarjeta__titulo{
        font-size: 2.3rem;
        text-align: center;
        }
    .tarjeta_descripcion{
        font-size: 1.4rem;
        padding: 1rem;
        text-align: center;
    }
    .tarjeta__img {
        width: 100%;
        margin: 20px;
        box-shadow: 0px 0px 8px 0px rgb(255 255 255 / 60%);
        border-radius: 15px;
        position: relative;
    }
    .tarjeta__btn{
        background-color: rgba(255, 255, 255, 0.226);
        position: relative;
        bottom: 48px;
        border: none;
        border-radius: 18px;
    }

}